---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -misc-include-cleaner,
        -hicpp-signed-bitwise,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none